.App {
  text-align: center;
  background: #fff0f5;
  min-height: 100vh;
  padding: 20px;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #ffd1dc;
  padding: 15px;
  border-radius: 10px;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
