/* Fondo general con estilo dulce */
.inventario-container {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #c5a3ff, #ffd6e8,  #c5a3ff);
}

/* Caja central tipo login */
.inventario-box {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 2rem;
  box-shadow: 0 10px 25px rgba(255, 105, 135, 0.3);
  width: 100%;
  max-width: 1300px;
  animation: fadeIn 0.6s ease-in-out;
}

/* Encabezado dulce */
.inventario-box h2 {
  color: #6b1137;
  font-weight: bold;
}

/* Personalización de tarjetas */
.inventario-card {
  background-color: #fff5f8;
  border-radius: 1.5rem;
}


.inventario-header-actualizar {
  background: linear-gradient(135deg, #ff6a88, #ff99ac);
}

.inventario-header-lista {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
